/*textarea still needed to complete  */

$primarycolor: black;
$secondarycolor: black;
$shadeSecondary: white;

.main-body {
  background-color: white;
  padding-top: 100px;
}
.main-container {
display: flex;
justify-content: center;
& .imagebody {
  border: 1px solid black;
  height: 500px;
  width: 440px;
  float: left;
}
& .bodyimage {
  padding: 0px;
  height: 500px;
  width: 440px;
  justify-content: center;


}
}

#main {
  overflow-y: scroll;
  overflow: hidden;
  width: 650px;
  padding: 0px;
  height: 500px;

  .input[type=text] {
    padding: 10px;
    border-radius: 50px;
  }
  .headfoot {
    text-align: left;
    background-color: #1abc9c;
    padding: 40px 50px;
    font-size: 20px;
  }
  & #survey-form {
    background-color: white;
  }



  #email-label, #name-label, #name-label1, #drop-down {
   display: inline-block;
   width: 140px;
   text-align: right;

  }

  h1 {
    font-size: 2.4vw;
    /*@media screen and ()*/
  }
  h2 {
    font-size: 1.7vw;
  }
  h3 {
    font-size: 1.4vw;
  }

}
